@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
}
html,body{
    overflow-x: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

h1,h2{
    font-weight: 300;
    line-height: 1.2;
}

p{
    padding: 10px 0;
}

img{
    width: 100%;
}


/* ------ HEADER ------ */

/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    opacity: 0.6;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    transition: 0.5s ease-in;
}
.navbar.top{
    background: transparent;
}
.navbar .logo{
    font-weight: 400;
}
.navbar ul{
    display: flex;
}
.navbar a{
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.navbar a:hover{
    border-bottom: #28a745 2px solid;
    font-weight: 200;
}

/* Content */
.hero{
    background: url('../images/home/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: #fff;
}
.hero .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding:0 20px;
}
.hero .content h1{
    font-size: 3rem;
    letter-spacing: 2px;
}
.hero .content p{
    font-size: 1.2rem;
    letter-spacing: 1px;
    max-width: 80%;
    margin: 20px 0 30px;
}
/* Adding Overlay */
.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
.hero *{
    z-index: 111;
}



/* ------ ABOUT ------ */
#about{
    width: 100%;
}
.icons{
    padding: 30px;
}
.icons h3{
    font-weight: bold;
    margin-bottom: 15px;
}
.icons i{
    background-color: #28a745;
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 15px;
}




/* ------ CASES ------ */
.cases img:hover{
    opacity: 0.7;
}





/* ------ ABOUT PAGE ------ */
.hero.about{
    background: url('../images/about/cover.jpg') no-repeat center center/cover;
    height: 40vh;
    position: relative;
    color: #fff;
}





/* ------ Blog PAGE ------ */
.hero.blog{
    background: url('../images/home/blog.jpg') no-repeat center center/cover;
    height: 40vh;
    position: relative;
    color: #fff;
}

.post{
    padding: 12px 0;
    margin-top: 20px;
}
.post img{
    width: 300px;
    border-radius: 25px;
    display: block;
    margin: 0 auto 30px;
}
.post h2{
    font-size: 40px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.post p{
    padding: 10px;
}
@media(max-width:768px) {
    .navbar{
        flex-direction: column;
        align-items: center;
        height: 120px;
        padding: 20px;
    }
    .navbar ul{
        width: 60%;
    }
    .navbar a{
        padding:10px 5px;
        margin: 0;
    }
    .flex-items{
        flex-direction: column;
    }
    .flex-columns .column,
    .flex-columns-reverse .column,
    .flex-grid .column{
        flex: 100%;
        max-width: 100%;
    }
}